.panelStyle {
    font-family: "Questrial", sans-serif;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.controlPanel {
    position: absolute;
    bottom: 15%;
    left: 3%;


    width: 18%;
    min-width: 250px;
    text-align: center;
    align-items: center;
}

#mode1Entry, #mode3Entry {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#mode2Label {
    width: 75%;
}

button:hover:enabled {
    cursor: pointer;
}

.buttonRow {
    display: flex;
    padding: 5%;
}

.restartContainer, .giveUpContainer, .buttonSpacer {
    flex: 1;
}

.transparentButton {
    border: none;
    background: none;
    outline: none;
}

.transparentButton:hover:enabled {
    text-decoration: underline;
}

.countryGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5%;
    height: auto;
}

.countryListDiv {
    height: 25vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    padding-top: 5%;
}

.continentLabel {
    margin: 0;
}

.hiddenLabel {
    opacity: 0;
}

.shownLabel {
    opacity: 1;
}

.labelDiv {
    background-color: rgb(132, 75, 132);
    margin: 5%;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: -3%;
    justify-content: center;
}

.dropDown {
    border: transparent;
    background-color: transparent;
    text-align: center;
}

.dropDown:hover {
    cursor: pointer;
}

.dropDown:focus {
    outline: none;
}

#modeContainer, #regionContainer {
    flex: 1;
    margin: auto;
    width: auto;
}

.timerContainer {
    position: relative;
    align-items: center;
    margin: 5%;
}

.non-selectable {
    user-select: none;
}

.helpContainer {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 6%;
    height: 6%;
}

#helpIcon {
    width: 90%;
    height: auto;
}

.helpTooltip {
    visibility: hidden;
    position: absolute;
    top: -800%;
    left: 200%;
    width: 2000%;
    padding: 50%;
}

.helpTooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #cbcbcb transparent transparent;
}

.helpContainer:hover .helpTooltip {
    cursor: pointer;
    visibility: visible;
}

.modeControl {
    display: flex;
    flex-direction: row;
    position: relative;

    width: 75%;
    margin: auto;
}

.skipButton, .modeControlSpacer {
    flex: 1;
}
