.panelStyle {
    font-family: "Questrial", sans-serif;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.controlPanel {
    position: absolute;
    bottom: 10%;
    left: 3%;


    width: 19%;
    min-width: 250px;
    text-align: center;
    align-items: center;
}

button:hover:enabled {
    cursor: pointer;
}

.transparentButton {
    border: none;
    background: none;
    outline: none;
}

.popupButton {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.popupButton:hover:enabled {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
    border: 2px solid black;
}

.popupButton:active:enabled {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

.buttonRow {
    display: flex;
    padding: 5%;
    resize: none;


    .restartContainer, .giveUpContainer, .buttonSpacer {
        flex: 1;
    }

    #restartButton, #giveUpButton {
        border: none;
    }

    #restartButton:hover:enabled, #giveUpButton:hover:enabled {
        border: 1.5px solid black;
    }
}

.non-selectable {
    user-select: none;
}

.countryListDiv {
    height: 25vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    padding-top: 5%;

    .countryGrid {
        display: grid;
        grid-template-columns: auto auto;
        padding: 5%;
        height: auto;
    }

    .labelDiv {
        background-color: rgb(132, 75, 132);
        margin: 5%;
    }
}


.optionsContainer {
    display: flex;
    flex-direction: row;
    margin: 5%;
    justify-content: center;

    .dropDown {
        border: transparent;
        background-color: transparent;
        text-align: center;
    }

    .dropDown:hover {
        cursor: pointer;
    }

    .dropDown:focus {
        outline: none;
    }

    #modeContainer, #regionContainer {
        flex: 1;
        margin: auto;
        width: auto;
    }
    
}



.timerContainer {
    position: relative;
    align-items: center;
    margin: 5%;
}

#zoomIcon {
    position: absolute;
    width: 5.4%;
    height: auto;
    top: 2%;
    left: 2%;
}

.helpContainer {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 6%;
    height: 6%;

    #helpIcon {
        width: 90%;
        height: auto;
    }
}

.helpTooltip {
    visibility: hidden;
    position: absolute;
    top: -900%;
    left: 200%;
    width: 2000%;
    padding: 50%;
}

#helpIcon:hover, #zoomIcon:hover {
    cursor: pointer;
}

.helpContainer:hover .helpTooltip {
    cursor: pointer;
    visibility: visible;
}

.modeControl {
    display: flex;
    flex-direction: row;
    position: relative;

    width: 75%;
    margin: auto;


    #mode1Entry, #mode2Label, #mode3Entry {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .skipButton, .modeControlSpacer {
        flex: 1;
    }
    
}

.skipButton:hover {
    text-decoration: underline;
}

.titleContainer {
   background-color: black;
   top: 0;
   padding: 1%;

   #titleLabel {
    color: white;
   }

   #helpIcon {
    color: white;
   }
}
