#dialog {
    font-family: "Questrial", sans-serif;
    
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.popupButton {
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;

    box-shadow: 0 0 0 black;
    transition: all 0.2s;

    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
}

.popupButton:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

.popupButton:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#dialog::backdrop {
    backdrop-filter: blur(3px);
}


.scoreListContainer {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    text-align: center;
}

.scoreTable {
    height: auto;
    max-height: 8em;
    overflow: scroll;
    text-align: center;
}

.scoreHeader {
    background-color: black;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: row;

    font-size: 0.8rem;

    width: 100%;
    height: auto;
}

.scoreDiv {
    display: flex;
    flex-direction: row;

    font-size: 0.8rem;

    width: 100%;
    height: auto;

}


.lineDiv {
    width: 95%;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.rankLabel {
    flex: 1;
    text-align: center;
}

.scoreLabel {
    text-align: center;
    flex: 2;
}