body {
    margin: 0;
    overflow: hidden;

    background-color: #40a1bf;
}

.mapContainer {
    position: fixed;
    height: 100vh;
    width: auto;
    right: 0;
}

#map {
    height: 100vh;
    width: auto;
}
